.slider-img {
    filter: brightness(50%);
    height: 100vh;
}

.custom-bg-color-1 {
    background-color: #289BDE;
}

.custom-text-color-1 {
    color: #289BDE !important;
}

.register-btn:hover {
    color: #289BDE !important;
}
.customize-course-img{
height: 100%!important;
width: 100%!important;
}
